<section class="container-fluid">
  <div class="container briosh-presentation">
    <div class="row">
      <div class="col-sm-12 col-md-6 briosh-presentation-content">
        <h1 class="briosh-presentation-title">Le choix numéro
          <span class="briosh-mark">#Un</span>
          pour vos restaurations</h1>
        <p class="briosh-presentation-text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, deleniti dignissimos minus iusto obcaecati maiores possimus velit quia eum necessitatibus deserunt corporis iure totam tempora est fugiat culpa minima nesciunt.
        </p>
      </div>
      <div class="col-sm-12 col-md-6 briosh-presentation-bg">
        <button class="briosh-btn btn">Commencer</button>
      </div>
    </div>
  </div>
</section>
