<section class="container-fluid">
    <h1 class="briosh-section-title text-center">Menu</h1>
    <div class="briosh-menu">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="briosh-menu-banner">
                    <img src="assets/pizza.png" alt="" class="briosh-menu-banner-img">
                </div>
            </div>
            <div class="col-sm-12 col-md-8">
                <div class="row briosh-menu-list">
                    <div class="col-sm-12 col-md-6">
                        <div class="briosh-menu-card">
                            <div class="briosh-menu-card-img-content col-md-5">
                                <img src="assets/pizza.png" alt="" class="briosh-menu-card-img">
                            </div>
                            <div class="briosh-menu-card-body">
                                <h3 class="briosh-menu-card-title">Titre du plat</h3>
                                <p class="briosh-menu-card-price">1000 fcfa</p>
                                <p class="briosh-menu-card-text">Un bon plat, miaaam</p>
                                <button class="btn briosh-btn briosh-menu-card-btn">Commander</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="briosh-menu-card">
                            <div class="briosh-menu-card-img-content col-md-5">
                                <img src="assets/pizza.png" alt="" class="briosh-menu-card-img">
                            </div>
                            <div class="briosh-menu-card-body">
                                <h3 class="briosh-menu-card-title">Titre du plat</h3>
                                <p class="briosh-menu-card-price">1000 fcfa</p>
                                <p class="briosh-menu-card-text">Un bon plat, miaaam</p>
                                <button class="btn briosh-btn briosh-menu-card-btn">Commander</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="briosh-menu-card">
                            <div class="briosh-menu-card-img-content col-md-5">
                                <img src="assets/pizza.png" alt="" class="briosh-menu-card-img">
                            </div>
                            <div class="briosh-menu-card-body">
                                <h3 class="briosh-menu-card-title">Titre du plat</h3>
                                <p class="briosh-menu-card-price">1000 fcfa</p>
                                <p class="briosh-menu-card-text">Un bon plat, miaaam</p>
                                <button class="btn briosh-btn briosh-menu-card-btn">Commander</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="briosh-menu-card">
                            <div class="briosh-menu-card-img-content col-md-5">
                                <img src="assets/pizza.png" alt="" class="briosh-menu-card-img">
                            </div>
                            <div class="briosh-menu-card-body">
                                <h3 class="briosh-menu-card-title">Titre du plat</h3>
                                <p class="briosh-menu-card-price">1000 fcfa</p>
                                <p class="briosh-menu-card-text">Un bon plat, miaaam</p>
                                <button class="btn briosh-btn briosh-menu-card-btn">Commander</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row briosh-menu-list">
                    <div class="col-sm-12 col-md-6">
                        <div class="briosh-menu-card">
                            <div class="briosh-menu-card-img-content col-md-5">
                                <img src="assets/pizza.png" alt="" class="briosh-menu-card-img">
                            </div>
                            <div class="briosh-menu-card-body">
                                <h3 class="briosh-menu-card-title">Titre du plat</h3>
                                <p class="briosh-menu-card-price">1000 fcfa</p>
                                <p class="briosh-menu-card-text">Un bon plat, miaaam</p>
                                <button class="btn briosh-btn briosh-menu-card-btn">Commander</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="briosh-menu-card">
                            <div class="briosh-menu-card-img-content col-md-5">
                                <img src="assets/pizza.png" alt="" class="briosh-menu-card-img">
                            </div>
                            <div class="briosh-menu-card-body">
                                <h3 class="briosh-menu-card-title">Titre du plat</h3>
                                <p class="briosh-menu-card-price">1000 fcfa</p>
                                <p class="briosh-menu-card-text">Un bon plat, miaaam</p>
                                <button class="btn briosh-btn briosh-menu-card-btn">Commander</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="briosh-menu-card">
                            <div class="briosh-menu-card-img-content col-md-5">
                                <img src="assets/pizza.png" alt="" class="briosh-menu-card-img">
                            </div>
                            <div class="briosh-menu-card-body">
                                <h3 class="briosh-menu-card-title">Titre du plat</h3>
                                <p class="briosh-menu-card-price">1000 fcfa</p>
                                <p class="briosh-menu-card-text">Un bon plat, miaaam</p>
                                <button class="btn briosh-btn briosh-menu-card-btn">Commander</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="briosh-menu-card">
                            <div class="briosh-menu-card-img-content col-md-5">
                                <img src="assets/pizza.png" alt="" class="briosh-menu-card-img">
                            </div>
                            <div class="briosh-menu-card-body">
                                <h3 class="briosh-menu-card-title">Titre du plat</h3>
                                <p class="briosh-menu-card-price">1000 fcfa</p>
                                <p class="briosh-menu-card-text">Un bon plat, miaaam</p>
                                <button class="btn briosh-btn briosh-menu-card-btn">Commander</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row briosh-menu-list">
                    <div class="col-sm-12 col-md-6">
                        <div class="briosh-menu-card">
                            <div class="briosh-menu-card-img-content col-md-5">
                                <img src="assets/pizza.png" alt="" class="briosh-menu-card-img">
                            </div>
                            <div class="briosh-menu-card-body">
                                <h3 class="briosh-menu-card-title">Titre du plat</h3>
                                <p class="briosh-menu-card-price">1000 fcfa</p>
                                <p class="briosh-menu-card-text">Un bon plat, miaaam</p>
                                <button class="btn briosh-btn briosh-menu-card-btn">Commander</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="briosh-menu-card">
                            <div class="briosh-menu-card-img-content col-md-5">
                                <img src="assets/pizza.png" alt="" class="briosh-menu-card-img">
                            </div>
                            <div class="briosh-menu-card-body">
                                <h3 class="briosh-menu-card-title">Titre du plat</h3>
                                <p class="briosh-menu-card-price">1000 fcfa</p>
                                <p class="briosh-menu-card-text">Un bon plat, miaaam</p>
                                <button class="btn briosh-btn briosh-menu-card-btn">Commander</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="briosh-menu-card">
                            <div class="briosh-menu-card-img-content col-md-5">
                                <img src="assets/pizza.png" alt="" class="briosh-menu-card-img">
                            </div>
                            <div class="briosh-menu-card-body">
                                <h3 class="briosh-menu-card-title">Titre du plat</h3>
                                <p class="briosh-menu-card-price">1000 fcfa</p>
                                <p class="briosh-menu-card-text">Un bon plat, miaaam</p>
                                <button class="btn briosh-btn briosh-menu-card-btn">Commander</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="briosh-menu-card">
                            <div class="briosh-menu-card-img-content col-md-5">
                                <img src="assets/pizza.png" alt="" class="briosh-menu-card-img">
                            </div>
                            <div class="briosh-menu-card-body">
                                <h3 class="briosh-menu-card-title">Titre du plat</h3>
                                <p class="briosh-menu-card-price">1000 fcfa</p>
                                <p class="briosh-menu-card-text">Un bon plat, miaaam</p>
                                <button class="btn briosh-btn briosh-menu-card-btn">Commander</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>