<div class="container-fluid navbar-light bg-light briosh-navigation-container">
  <div class="container">
    <nav class="navbar navbar-expand-lg align-items-center briosh-navigation">
      <a class="navbar-brand briosh-navigation-title" href="#">Briosh</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Service</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Nous contacter</a>
          </li>
          <button class="briosh-icon-btn"><i class="fa-solid fa-search"></i></button>
          <button class="briosh-icon-btn"><i class="fa-solid fa-bag-shopping"></i></button>
          <button class="briosh-icon-btn"><i class="fa-solid fa-user"></i></button>
        </ul>
      </div>
    </nav>
  </div>
</div>
